/* * {
    margin: 0 px;
    padding: 0px;
} */
/*@media screen and (max-width:1300px) {*/


body {
  background: white;
  color: black;
}
#root {
  margin:auto;
  margin-top:0px;
  width: 1300px;
  height:800px;
  border: 2px solid white;
  background-color: white;
  padding: 0px;
}
#info {
  width: 274px;
  height:780px;
  background-color: white;
  padding: 5px;
  float: left;
  border-right: 1px solid black;
}
#logo {
  display: block;
  margin: auto;
  width: 250px;
  height:90px;
  padding:0px;   
}
#ale {
  align-content: left;
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
#contenido {
  display: block;
  margin: auto;
  width: 1014px;
  height:780px;
  border: 0px solid #FFE521;
  border-left: 1px solid black;
  background-color: white;
  padding: 0px #FFE521;
  float:right;
  text-align: center; 
}
form {
  width: 150px;
  padding: 15px;
}

#grafico1{
  padding-left: 250px
} 

#grafico2{
  padding-left: 150px;
}
hr {
  border-color:#FFE521;
}
h2{
  background-color:#FFE521; 
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}
#usuario {
  display:block;
  width: 260px;
  height:80px;
} 
#fotoAle{
  display: block;
  margin:auto;
  float: left;
  
  width: 100px;
  height:80px;
}

#aleName {
  display: block;
  margin:auto;
  width: 150px;
  height:80px;
  float: right;
}

select {
  background-color: white;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  color: black (58, 5, 68);
  font-weight: bold;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 75px;
  
}
#listStudents {
  margin: auto;
  width: 1014px;
  height:780px;
  border: 0px solid white;
  border-left: 1px solid black;
  background-color: white;
  padding-left: 5px #FFE521;
  float:right;
  text-align: center;
}

#tituloEstudiantes{
  font-weight: bold;
  text-align: center;
  font-size: 25px;
}

#ProgressStudent {
  margin: auto;
  width: 1014px;
  height:780px;
  border: 0px solid #FFE521;
  border-left: 1px solid black;
  background-color: white;
  padding: 0px #FFE521;
  float:right;
  text-align: center;
}

#selectorOfCohorts{
  background-color: white;
  display: block;
  width: 200px;
  height: 30px;
  color: black;
  margin: 10px;
  font-weight: bold;
}

#divCohort{
  width: 540px;
  height:40px; 
  margin: 5px;
  /* display: inline; */
  display: block;
  float: right;	
}
#divElige{
  width: 450px;
  height:40px;
  margin: 5px;
  text-align: right;
  float:left;
}
.infoHidden {
  display: none;
}

#searchName {
background-image: url('http://subirimagen.me/uploads/20180621190329.jpg');
background-repeat: no-repeat;
padding: 12px 50px 12px 80px;
font-size: 16px;
background-position: 10px 10px;
display: block;





}
#mytable {
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 950px;
  font-size: 18px;
  
}
#mytable th, #mytable td {
  text-align: left;
  padding: 12px;
} 

#mytable tr {
  border-bottom: 1px solid #ddd
} 

#mytable tr.header, #mytable tr:hover{
  background-color: #f1f1f1;
}
/* #espacio {
  width: 300 px;
} */

ul.acorh,
ul.acorh * {
margin: 0;
padding: 0;
border: 0;
}

ul.acorh {
margin: 0 auto;
padding: 0;
list-style: none;
width: 100%;
font-size: 18px;
}
ul.acorh li {
list-style: none;
}
ul.acorh li a {
display: block;
padding: 10px 10px 10px 20px;
color: #000000;
border-bottom: 1px solid #FFE521;
text-decoration: none;
box-sizing: border-box;
}
ul.acorh li ul {
max-height: 0;
margin: 0;
padding: 0;
list-style: none;
/* overflow: hidden; */
transition: .9s all ease-in;
}
ul.acorh li li a {
padding: 10px 10px 10px 40px;
background: #e6ecf0;
color: #000;
font-size: 16px;
border: 0;
border-bottom: 1px solid #ccc;
box-sizing: border-box;
}
ul.acorh li li:last-child a {
border-bottom: 0;
}
ul.acorh li:hover ul {
max-height: 1000px;
transition: .9s all ease-in;
}
ul.acorh li a:hover {
background: #FFE521;
color: black;
}
/* CSS DE LA TABLA */
table.dataTable th,
table.dataTable td {
white-space: nowrap;
}
/* CSS DEL ORDENADOR Y BUSCADOR */
.orderYbuscador {
  width: 1470px;
  margin: auto;

  
  height:70px;
  border: 2px solid white;

}
#selectOrder{
  float:right;
  padding: 0px;
  text-align: left;
}
#Buscador{
  float:left;
}
/*}*/